<div class="w-full h-fit rounded-md flex flex-col mb-5">
  <div class="w-full h-fit">
    <h2
      class="font-bold bg-gray-200 rounded-t-md text-medium !m-0 p-3 px-6 flex justify-between"
    >
      <span class="flex gap-1">
        <i class="bi bi-grid-3x3-gap-fill ml-1 flex items-center"></i>
        <span class="mt-1"> {{'پیشنهاد پیمانکاران '}}</span>
      </span>
      <span class="text-sm !my-auto"> {{items.length}} :تعداد</span>
    </h2>
  </div>
  <div
    class="w-full h-fit shadow-md border bg-white py-3 sm:p-2 md:p-4 rounded-b-lg justify-center font-bold"
  >
    <div
      *ngIf="items.length>0"
      class="gap-6 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 2xl:grid-cols-5"
    >
      <app-contributor-item
        class="flex justify-center"
        [tenderItem]="tenderItem"
        [item]="item"
        *ngFor="let item of items"
      ></app-contributor-item>
    </div>
    <app-empty *ngIf="items.length===0" text="پیشنهادی یافت نشد!"></app-empty>
  </div>
</div>
