<div
  matRipple
  class="w-full h-full rounded-lg shadow-md !bg-white cursor-pointer max-w-[230px]"
>
  <div class="w-full h-full flex flex-col items-center gap-3 p-4 !bg-slate-50">
    <i class="bi bi-person-circle text-blue-900 text-[70px]"></i>
    <span>{{item.fullname}}</span>
    <span class="text-blue-500 text-xs cursor-pointer">{{item.username}}@</span>
    <span class="text-gray-500 text-xs">
      پیشنهاد: {{item.suggestedPrice| number:'1.0'}} ریال</span
    >
    <mat-divider></mat-divider>
    <div
      (click)="choose()"
      *ngIf="isAdmin"
      class="w-full h-full flex justify-center items-center"
    >
      <button mat-raised-button [disabled]="isChosen()" color="primary">
        <mat-icon class="mat-18">check</mat-icon>انتخاب پیمانکار
      </button>
    </div>
  </div>
</div>
