/* You can add global styles to this file, and also import other style files */

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "~bootstrap-icons/font/bootstrap-icons.css";

@font-face {
  font-family: "byekan";
  src: url("./assets/fonts/byekan.woff");
}

html,
body {
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
}

*,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: byekan, sans-serif;
}

.ellipsis-my-text-in-one-line {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  /* number of lines to show */
  -webkit-box-orient: vertical;
}

.ellipsis-my-text-in-two-lines {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  /* number of lines to show */
  -webkit-box-orient: vertical;
}


.ellipsis-my-text-in-three-lines {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  /* number of lines to show */
  -webkit-box-orient: vertical;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
