<div
  class="w-full h-full text-base !font-bold p-4 flex flex-col justify-center items-center"
>
  <form [formGroup]="loginForm" (submit)="login()">
    <div
      class="w-fit h-fit bg-white border border-2 border-t-indigo-400 border-b-indigo-400 px-10 py-16 flex flex-col rounded shadow-lg"
    >
      <h3 class="!m-0 pb-3 w-full text-center">
        <i class="bi bi-person-lock text-[30px] ml-[5px] text-blue-800"></i>
        <span class="font-semibold text[26px]">ورود به سامانه</span>
      </h3>
      <hr class="w-full h-1 bg-white mb-3" />
      <mat-form-field>
        <mat-label
          >نام کاربری
          <i class="bi bi-person-circle text-md"></i>
        </mat-label>
        <input
          type="email"
          formControlName="username"
          matInput
          placeholder="نام کاربری"
        />
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>
          کلمه عبور
          <i class="bi bi-lock text-md"></i>
        </mat-label>
        <input
          type="email"
          type="password"
          formControlName="password"
          matInput
          placeholder="کلمه عبور"
        />
      </mat-form-field>

      <div class="w-full h-fit pt-3 flex gap-3 justify-end items-center">
        <button
          mat-raised-button
          type="submit
        "
          class="w-full text-medium"
          color="primary"
        >
          <div class="w-full flex items-center !gap-1">
            <span>ورود</span>
            <i
              class="bi bi-box-arrow-in-left text-base flex items-center !m-0 !mt-1"
            ></i>
          </div>
        </button>
      </div>
      <div class="w-full pt-5 text-sm">
        <a routerLink="../signup" class="text-blue-800 flex items-center gap-2">
          <i
            class="bi bi-person-plus-fill text-base flex items-center !m-0"
          ></i>
          ثبت نام پیمانکاران
        </a>
      </div>
    </div>
  </form>
</div>
